@model IEnumerable<CafeX.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            @*<th> @Html.DisplayNameFor(model => model.Id) </th>*@
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th> @Html.DisplayNameFor(model => model.Qty) </th>
            <th> @Html.DisplayNameFor(model => model.Price) </th>
            <th> @Html.DisplayNameFor(model => model.Total) </th>
            <th> @Html.DisplayNameFor(model => model.Tip) </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <div class="form-group">
                    <td>
                        @Html.EditorFor(modelItem => item.Qty, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </div>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip)
                </td>


            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

